/*ion-items{
    --ion-item-background:#27c0627a;
}*/

.fondo {
    --background: url('../../assets/img/netflix-fondo.png') no-repeat;
    

}

:root{

--ion-item-background: #27c06213;

}
.toolbar-background{
    background-color: red !important;
}