.prueba {
    text-align: center;
    font-family: monospace;
    font-weight: 300;
    font-size: 54px;
    color:#a89595;
    text-shadow: 2px 4px 10px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.texto-centrado{
    text-align: center !important;
    font-size: 20px;
    color: #ff9c6c;
    text-shadow: 2px 4px 5px;
}
.toolbar-background{
    background-color: black;
    color: wheat;
}