<app-header titol="Menú" bgcolor="primary"></app-header>

<ion-content>
  <ion-slides pages="true">
    <ion-slide>
        <img class="slide"src="./assets/img/series-tv.jpg">
        <div class="overlay"></div>
        <p>SERIES</p>  
    </ion-slide>
    <ion-slide>
      <img class="slide"src="./assets/img/peliculas2.jpg">
      <div class="overlay"></div>
      <p>PELICULAS</p>
    </ion-slide>
    <ion-slide>
      <img class="slide"src="./assets/img/videojuegos.jpg">
      <div class="overlay"></div>
      <p>VIDEO JUEGOS</p>
    </ion-slide>
    <ion-slide>
      <img class="slide"src="./assets/img/libros.jpg">
      <div class="overlay"></div>
      <p>LIBROS</p>
    </ion-slide>
    <ion-slide>
      <img class="slide"src="./assets/img/perifericos.jpg">
      <div class="overlay"></div>
      <p>PERIFERICOS</p>
    </ion-slide>
  </ion-slides>
  <!--
    <ion-list>
      <div *ngFor="let serie of series;">
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/img/{{serie.img}}">
          </ion-avatar>
          <ion-label>{{serie.name}}</ion-label>
        </ion-item>
      </div>
    </ion-list>-->
  </ion-content>

